@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto-Thin.ttf");
}

html {
    scroll-behavior: smooth; 
  }

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(138, 226, 158, 0.288);
    font-size: 18px;
     font-weight: 400;
    line-height: 1.5;
    color: #000000
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 5px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .navigation-link {
    padding: 0 12px;
    line-height: 50px;
    text-decoration: none;
    color: #0abaf0; 
    transition: .5s;
  }

  .navigation-link:hover {
    color: rgb(142, 15, 228);
    border: 1px solid transparent;
    border-radius: 5px;
    transition: border 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
    outline: 0;
  }

  .section-title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #0abaf0;
    background-color: gold;
    padding: 0 10px;
  }

  .photo {
    width: 300px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 2px 1px 15px 2px #696969;
    
  }

  .heading {
      font-style: italic;
      font-size: 14px;
      padding: 0;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
  }

  .section {
    width: 48%;
    margin-left: 2px;
  }

  .section-item {
      list-style: none;
  }

  .section-list {
      padding: 0;
      margin-left: 10px;
  }

  .section li a {
      color: rgb(138, 85, 70);
      text-decoration: none;
  }

  .section li a:hover {
      color: rgb(136, 31, 206);
      text-decoration: underline;
      transition: .5s;
  }

  .section p a {
      text-decoration: none;
      color: rgb(138, 85, 70);
  }

  .section p a:hover {
      color: rgb(136, 31, 206);
      text-decoration: underline;
      transition: .5s;
}

  .headline {
      font-size: 18px;
      font-weight: 800;
      color: rgb(247, 113, 30);
  }

  .section-text {
      text-indent: 30px;
  }

  .list-item-text {
      list-style-image: url(assets/img/marker1.png);
  }

  .list-text {
      list-style-image: url("assets/img/marker2.png");
  }

  .footer-container {
      width: 100%;
      margin: 0;
      padding-left: 5px;
      padding-right: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: gold;
  }
  
  .scroll-top {
    color: rgb(255, 153, 0);
    border: 1px solid rgb(21, 228, 21);
    border-radius: 50%;
    text-decoration: none;
    float: right;
    background-color: rgb(247, 243, 1);
    margin-bottom: 10px;
    padding: 15px;
}
  .scroll-top:hover {
    box-shadow: 5px 5px 5px 5px #0abaf0;
    transition: .4s;
}

@media (max-width: 790px) {
.main-container {
        display: block;
}
      .section {
          width: 100%;
      }
    pre {
    font-size: 12px;
}

.navigation__list {
    font-size: 18px;
}
.navigation-link {
    padding: 5px;
    
}
}


@media (max-width: 690px) {
    .navigation__list {
        font-size: 16px;
    }
    .navigation-link {
        padding: 4px;
    }
    .scroll-top {
        padding: 8px;
    }
}

@media (max-width: 610px) {
    navigation__list {
        font-size: 14px;
    }
    .navigation-link {
        padding: 2px;
    }
}

@media (max-width: 585px) {
    navigation__list {
        font-size: 12px;
    }
    .nav {
        display: flex;
        flex-wrap: wrap;
    }
    .nav-list {
        flex-direction: column;
        justify-content:flex-start;
    }
}
